@font-face {
    font-family: 'Pembroke Web';
    src: url('PembrokeWebRegular.woff2') format('woff2'),
        url('PembrokeWebRegular.woff') format('woff'),
        url('PembrokeWebRegular.svg#PembrokeWebRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pembroke Web';
    src: url('PembrokeWebMedium.woff2') format('woff2'),
        url('PembrokeWebMedium.woff') format('woff'),
        url('PembrokeWebMedium.svg#PembrokeWebMedium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Pembroke Web';
    src: url('PembrokeWebBold.woff2') format('woff2'),
        url('PembrokeWebBold.woff') format('woff'),
        url('PembrokeWebBold.svg#PembrokeWebBold') format('svg');
    font-weight: bold;
    font-style: normal;
}

